.progress-bar {
  box-sizing: border-box;
  width: 100%;
  height: 1rem;
  border: 1px hidden blue;
  border-radius: 5px;
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden
}

.active {
  height: 100%;
  width: 100%;
  background: #4CA64C;
  border-right: 1px solid white;
  transition: background 0.2s ease;
}

.disabled {
  height: 100%;
  width: 100%;
  background: #FF4C4C;
  border-right: 1px solid white;
  transition: background 0.2s ease;
}
